.perma-question {
    margin-bottom: 20px;
}

.perma-navigation {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.perma-progress {
    text-align: center;
    margin-top: 10px;
    font-style: italic;
}

.perma-profiler-ribbon-class {
    color: var(--text-accent);
}
